@model EminAutoPrime.Models.Kampanya

<div class="container-fluid justify-content-center align-items-center -background" style="min-height: 100vh; padding-top: 100px;">
    <h1 class="display-4 text-danger mb-4">Kampanya Sil</h1>
    <p class="text-dark h5">Bu kampanyayı silmek istediğinizden emin misiniz?</p>
    <div class="shadow p-5 bg-white rounded">
        <dl class="row mb-4">
            <dt class="col-sm-3 h5 text-dark">Başlık:</dt>
            <dd class="col-sm-9 h6 text-muted">@Model.KampanyaBasligi</dd>

            <dt class="col-sm-3 h5 text-dark">Açıklama:</dt>
            <dd class="col-sm-9 h6 text-muted">@Model.KampanyaAciklamasi</dd>

            <dt class="col-sm-3 h5 text-dark">Başlangıç Tarihi:</dt>
            <dd class="col-sm-9 h6 text-muted">@Model.BaslangicTarihi?.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3 h5 text-dark">Bitiş Tarihi:</dt>
            <dd class="col-sm-9 h6 text-muted">@Model.BitisTarihi?.ToString("dd/MM/yyyy")</dd>
        </dl>

        <form asp-action="Delete">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="KampanyaID" />
            <button type="submit" class="btn btn-danger btn-lg rounded-pill px-5 py-2 shadow">
                <i class="fas fa-trash"></i> Sil
            </button>
            <a asp-action="Index" class="btn btn-secondary btn-lg rounded-pill px-5 py-2 shadow">
                <i class="fas fa-arrow-left"></i> Listeye Geri Dön
            </a>
        </form>
    </div>
</div>
