@model EminAutoPrime.Models.Kampanya

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kampanya</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KampanyaBasligi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KampanyaBasligi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KampanyaAciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KampanyaAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GorselYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GorselYolu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KampanyaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
