@model IEnumerable<EminAutoPrime.Models.EminAutoServis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YapilanIslemler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GirisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CikisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamamlandi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YapilanIslemler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GirisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CikisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamamlandi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arac.Marka)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
