@model EminAutoPrime.Models.EminAutoArac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EminAutoArac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SahipAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SahipAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AracId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
